# Build artifacts
*.ex
*.o
*.obj
*.mod
*.a
*.so
*.dylib
*.cuo

# Logs
*.log
*.out
*.err
Backtrace.*
*.txt
*.csv
./learnamerx.code-workspace
compile_commands.json

# Generated directories
**/data/
**/tmp_build_dir/
**/case_*/
**/plt*/
**/.cache/
**/chk*/
**/amrex-23.09/
**/amrex-26.01/
**/.trae/
# IDE/editor


# Misc
*.nfs*
*.tgz
*.tar
*.zip
*.dat
*.pdf

# Compile DB (optional keep)
# compile_commands.json
