If:
  PathMatch: .*

CompileFlags: 
  CompilationDatabase: config
  Remove:
    - "^-D__CUDA_ARCH__=.*"
    - "^-D__CUDA_ARCH_LIST__=.*"
  Add:
    - -D__host__=
    - -D__device__=
    - -D__global__=
    - -D__constant__=
    - -D__shared__=
    - -D__launch_bounds__(...)=
    - -isystem
    - /home/HPCBase/compilers/cuda/12.1.0/targets/sbsa-linux/include
    - -include
    - cuda_runtime.h

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  ClangTidy:
    Add: []
    Remove: ['*']

Completion:
  AllScopes: true

---
If:
  PathMatch: .*D3Q19\.H

CompileFlags:
  Add:
    - -DAMREX_CXX_NVHPC
    - -include
    - /home/huazkjdxmrsgjzdsyshi/whcs-share18/caiyimin/learnamerx/Amrex/amrex-26.01/Src/Base/AMReX_REAL.H
    - -include
    - /home/huazkjdxmrsgjzdsyshi/whcs-share18/caiyimin/learnamerx/Amrex/amrex-26.01/Src/Base/AMReX_RealVect.H

---
If:
  # Skip files outside this case root.
  PathMatch: ^\.\./.*

Index:
  Background: Skip

---
If:
  # Re-enable AMReX source tree indexing using absolute path.
  PathMatch: ^/home/huazkjdxmrsgjzdsyshi/whcs-share18/caiyimin/learnamerx/Amrex/amrex-26\.01/.*

Index:
  Background: Build
